# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# Eclipse project files
.project
.classpath
.settings/

# IntelliJ IDEA project files
.idea/
*.iml

# NetBeans project files
nbproject/

# Maven specific files
target/

# Gradle specific files
.gradle/
build/

# Java specific files
*.jar
*.war
*.ear

# OS-specific files
.DS_Store
Thumbs.db

# Eclipse .launch file
*.launch

# JBoss specific files
deploy/

# JetBrains Rider files
.idea/

# User-specific files
*.user
*.userprefs